# Exclude all entries in /
/*
# Include .bashrc, .gitconfig, .gitignore, README.md
!.bashrc
!.gitconfig
!.gitignore
!README.md
# Include Pictures/Wallpapers/
!Pictures/
Pictures/*
!Pictures/Wallpapers/
# Include .ssh/ but not known_hosts*, .ssh/keys/
!.ssh/
.ssh/known_hosts*
.ssh/keys/
# Include .config/ with some exceptions
!.config/
.config/dconf/
.config/go/
.config/ibus/
.config/jgit/
.config/lxqt/
.config/menus/
.config/procps/
.config/toolbox/
.config/borg
# Only include settings.json from .config/joplin-desktop/
.config/joplin-desktop/*
!.config/joplin-desktop/settings.json
# Include .local/bin/*
!.local/
.local/*
!.local/bin/
# Only include config.py and userscripts/* from .config/qutebrowser and userSessions
.config/qutebrowser/*
!.config/qutebrowser/config.py
!.config/qutebrowser/userscripts/
# Include userSessions for qutebrowser
!.local/share/
.local/share/*
!.local/share/qutebrowser/
.local/share/qutebrowser/*
!.local/share/qutebrowser/userSessions
